GALLERY_DB_HOST=localhost
GALLERY_DB_USER=user
GALLERY_DB_PASSWORD=super-secret-password
GALLERY_DB_ROOT_PASSWORD=super-secret-root-password
GALLERY_DB_NAME=gallery_db

GALLERY_BACKEND_PORT=6767
GALLERY_BACKEND_JWT_SECRET=super-secret-jwt
GALLERY_BACKEND_API_KEY=super-secret-api-key

