services:

  nodejs:
    build:
      context: backend
      dockerfile: Dockerfile
    
    environment:
      - GALLERY_DB_HOST=mariadb
      - GALLERY_DB_NAME=${GALLERY_DB_NAME}
      - GALLERY_DB_USER=${GALLERY_DB_USER}
      - GALLERY_DB_PASSWORD=${GALLERY_DB_PASSWORD}
      - GALLERY_BACKEND_API_KEY=${GALLERY_BACKEND_API_KEY}
      - GALLERY_BACKEND_JWT_SECRET=${GALLERY_BACKEND_JWT_SECRET}
      - GALLERY_BACKEND_PORT=${GALLERY_BACKEND_PORT}
    networks:
      - backend
      - database

   # labels for Traefik disable if not using Traefik
   # If Traefik is enabled ports are not necessary


    labels:
    - "traefik.enable=true"
    - "traefik.http.routers.gallerybackend.rule=Host(`gallerybackend.localhost`)"
    - "traefik.http.routers.gallerybackend.entrypoints=web"
    - "traefik.http.services.gallerybackend.loadbalancer.server.port=${GALLERY_BACKEND_PORT}"
    
    depends_on:
      - mariadb
   

   # IMPORTANT!! -> IF YOU ARE NOT USING TRAEFIK ENABLE PORTS
   #  change frontend/utils/api.ts and interface/utils/api.ts if you are not using Traefik
   # ports: 
   # # HOST PORT:CONTAINER PORT
   # - 6767:${GALLERY_BACKEND_PORT}
   # restart: unless-stopped  
    
  mariadb:
    image: mariadb:10.6
    environment:
      - MARIADB_ROOT_PASSWORD=${GALLERY_DB_ROOT_PASSWORD}
      - MARIADB_DATABASE=${GALLERY_DB_NAME}
      - MARIADB_USER=${GALLERY_DB_USER}
      - MARIADB_PASSWORD=${GALLERY_DB_PASSWORD}
    volumes:
      - mariadb_data:/var/lib/mysql
    networks:
      - database

# IMPORTANT!! -> IF YOU ARE NOT USING TRAEFIK ENABLE PORTS
#  change frontend/utils/api.ts and interface/utils/api.ts if you are not using Traefik

    # ports: 
    # HOST PORT:CONTAINER PORT
    # - 6768:3306
    
    restart: unless-stopped

  frontend:
    build:
      context: frontend
      dockerfile: Dockerfile

    
   # labels for Traefik disable if not using Traefik
   # If Traefik is enabled ports are not necessary

    labels:
     - "traefik.enable=true"
     - "traefik.http.routers.galleryfrontend.rule=Host(`gallery.localhost`)"
     - "traefik.http.routers.galleryfrontend.entrypoints=web"
     - "traefik.http.services.galleryfrontend.loadbalancer.server.port=80"
    
    
    depends_on:
     - nodejs
    networks:
     - frontend
    
   # IMPORTANT!! -> IF YOU ARE NOT USING TRAEFIK ENABLE PORTS
   #  change frontend/utils/api.ts and interface/utils/api.ts if you are not using Traefik

   # ports: 
   # HOST PORT:CONTAINER PORT
   # - 6769:80
    restart: unless-stopped


  interface:
    build:
      context: interface
      dockerfile: Dockerfile


   # labels for Traefik disable if not using Traefik
   # If Traefik is enabled ports are not necessary

    labels:
     - "traefik.enable=true"
     - "traefik.http.routers.galleryinterface.rule=Host(`galleryinterface.localhost`)"
     - "traefik.http.routers.galleryinterface.entrypoints=web"
     - "traefik.http.services.galleryinterface.loadbalancer.server.port=80"

    # IMPORTANT!! -> IF YOU ARE NOT USING TRAEFIK ENABLE PORTS
   #  change frontend/utils/api.ts and interface/utils/api.ts if you are not using Traefik

   # ports:
   # # HOST PORT:CONTAINER PORT
   # - 6770:80
    
    
    depends_on:
     - nodejs
    networks:
     - interface
    
    restart: unless-stopped

# IMPORTANT -> DELETE networks SECTIONS FROM EVERYWHERE IF YOU ARE NOT USING TRAEFIK
networks:
  backend:
    external: false
  database:
    external: false
  frontend:
    external: false
  interface:
    external: false

volumes:
  mariadb_data:

